<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-layout :: head">
    <meta charset="UTF-8">
    <title id="page-title">주문문의</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/common-layout :: normal-header"></header>
    <div id="content">
        <div id="content-header" class="mt-5 mb-5 d-flex justify-content-center">
            <h1>주문문의</h1>
        </div>
        <div id="content-body">
            <table class="table table-hover">
                <thead>
                    <tr class="d-flex">
                        <th scope="col" class="text-center col-1">번호</th>
                        <th scope="col" class="text-center col-6">제목</th>
                        <th scope="col" class="text-center col-2">작성자</th>
                        <th scope="col" class="text-center col-2">작성일</th>
                        <th scope="col" class="text-center col-1">답변여부</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-light d-flex" th:each="notice : ${notices}">
                        <td class="text-center col-1"><b>공지사항</b></td>
                        <td class="text-center col-6">
                            <a href="#" th:href="@{/board/order-question/{id} (id=*{notice.getId()})}" th:text="*{notice.getTitle()}"></a>
                        </td>
                        <td class="text-center col-2" th:text="*{notice.getAccount().getName()}">작성자</td>
                        <td class="text-center col-2" th:text="*{notice.getCreatedDate()}">작성일</td>
                        <td class="text-center col-1"><b>*</b></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="d-flex" th:each="article : ${articles}">
                        <td class="text-center col-1" th:text="*{article.getBoardArticleId()}">글번호</td>
                        <td class="text-center col-6">
                            <a href="#" th:href="@{/board/order-question/{id} (id=*{article.getId()})}" th:text="*{article.getTitle()}"></a>
                        </td>
                        <td class="text-center col-2" th:text="*{article.getAccount().getName()}">작성자</td>
                        <td class="text-center col-2" th:text="*{article.getCreatedDate()}">작성일</td>
                        <td class="text-center col-1">
                            <span th:if="*{article.getReplyStatus().name() == 'YET'}" th:text="*{article.getReplyStatus().getStatus()}" class="badge badge-outline badge-success">미답변</span>
                            <span th:if="*{article.getReplyStatus().name() == 'DONE'}" th:text="*{article.getReplyStatus().getStatus()}" class="badge badge-success">답변완료</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <a th:if="${session.loginUser.isAdmin()}" href="/board/order-question/form" class="btn btn-primary">공지등록</a>
                <a th:unless="${session.loginUser.isAdmin()}" href="/board/order-question/form" class="btn btn-primary">문의하기</a>
            </div>
            <nav class="mt-5 mb-5">
                <ul class="pagination justify-content-center" th:object="${pagination}">
                    <li th:if="*{getPage() == 0}" class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    <li th:unless="*{getPage() == 0}" class="page-item">
                        <a class="page-link" href="#" th:href="@{/templates/board/order-question(page=*{getPreviousPage()})}">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="number : *{getNumbers()}"
                        th:with="currentPage=*{getPage()}+1"
                        th:classappend="${number == currentPage ? 'active' : ''}">
                        <a class="page-link" href="#" th:text="${number}"
                           th:href="@{/board/order-question(page=${number}-1)}">number</a>
                    </li>
                    <li th:if="*{getPageForUser() == getTotalPages()}" class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1"><span>&raquo;</span></a>
                    </li>
                    <li th:unless="*{getPageForUser() == getTotalPages()}" class="page-item">
                        <a class="page-link" href="#" th:href="@{/templates/board/order-question(page=*{getNextPage()})}">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div th:replace="fragments/common-layout :: body-footer"></div>
<footer th:replace="fragments/common-layout :: normal-footer"></footer>
</body>
</html>