<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:include=":: #page-title">common-layout</title>
    <link rel="stylesheet" href="/lib/bootstrap-4.5.3/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/fontawesome-5.15.1/css/fontawesome.css">
    <link rel="stylesheet" href="/lib/fontawesome-5.15.1/css/brand.css">
    <link rel="stylesheet" href="/lib/fontawesome-5.15.1/css/solid.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/account.js"></script>
    <script src="/js/signUp.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<header th:fragment="normal-header" class="pt-xl-5 pb-xl-5">
    <div class="row">
        <div class="col-4 p-0">
            <div class="d-flex flex-column">
                <a href="tel:051-1234-5678">051-1234-5678</a>
                <a href="mailto:example@jumling.co.kr">example@jumling.co.kr</a>
            </div>
        </div>
        <div class="col-4 p-0 d-flex justify-content-center">
            <a href="/index">
                <img src="/images/logo/logo.black.png" alt="logo">
            </a>
        </div>
        <div th:if="${session.loginUser}" id="header-quick-menu" class="col-4 p-0 d-flex justify-content-end">
            <a href="/logout" class="mt-auto mb-auto pr-3">로그아웃</a>
            <a href="/mypage" class="mt-auto mb-auto">내정보</a>
            <a th:if="${session.loginUser.getGrade().name() == 'ADMIN'}" href="/admin" class="mt-auto mb-auto">관리자 페이지</a>
        </div>
        <div th:unless="${session.loginUser}" id="header-quick-menu" class="col-4 p-0 d-flex justify-content-end">
            <a href="/login" class="mt-auto mb-auto pr-3">로그인</a>
            <a href="/sign-up" class="mt-auto mb-auto">회원가입</a>
        </div>
    </div>
    <div class="row">
        <nav class="col-xl-12 pt-3 pb-3 pr-0 nav d-flex justify-content-between">
            <a class="text-muted" href="/menu/order-process">주문방법</a>
            <a class="text-muted" href="#">인쇄 및 제본</a>
            <a class="text-muted" href="#">CAD 및 대형출력</a>
            <a class="text-muted" href="#">표지샘플</a>
            <a class="text-muted" href="/menu/price">가격표</a>
            <a class="text-muted" href="/menu/company-introduce">회사소개</a>
            <a class="text-muted" href="#">주문문의</a>
            <a class="text-muted" href="#">공지사항</a>
        </nav>
    </div>

</header>
<header id="admin-header" th:fragment="admin-header">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1 mr-auto">
            <a href="/admin">
<!--                <img src="/images/logo/logo.black.png" alt="logo">-->
                <h1 class="text-white">JungLim</h1>
            </a>
        </span>
        <div id="header-quick-menu" class="col p-0 d-flex justify-content-end">
            <a href="/logout" class="mt-auto mb-auto pr-3 text-white">로그아웃</a>
            <a href="/index" class="mt-auto mb-auto text-white">홈페이지 돌아가기</a>
        </div>
    </nav>
</header>
<nav id="sidebar" th:fragment="admin-sidebar" class="col-2  vh-100 border-right pt-5 pl-5">
    <div>
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a href="/admin/order" class="nav-link">
                    <i class="fas fa-list mr-2"></i>주문관리
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/menu" class="nav-link">
                    <i class="fas fa-clipboard-list mr-2"></i>메뉴관리
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/member" class="nav-link">
                    <i class="fas fa-user-cog mr-2"></i>회원관리
                </a>
            </li>
        </ul>
    </div>
</nav>
<div th:fragment="body-footer">
    <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="/lib/bootstrap-4.5.3/js/bootstrap.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</div>
</body>
</html>