<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-layout :: head">
    <meta charset="UTF-8">
    <title id="page-title">표지샘플</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/common-layout :: normal-header"></header>
    <div id="content">
        <div id="content-header" class="mt-5 mb-5 d-flex justify-content-center">
            <h1>표지샘플 - 표지등록</h1>
        </div>
        <div id="content-body" class="mb-5">
            <!-- data -->
            <input type="hidden" id="board-name" name="board-name" value="cover-sample">
            <input type="hidden" id="board-id" name="board-id" th:value="${boardId}">
            <input type="hidden" id="member-id" name="member-id" th:value="${session.loginUser.getId()}">
            <!-- article options -->
            <input type="hidden" id="is-notice" name="is-notice" value="false">
            <!-- summernote content -->
            <input type="text" id="title" class="form-control mb-3" placeholder="제목">
            <div id="thumbnail-area">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">썸네일</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="thumbnail-file" onchange="updateThumbnail(this)">
                        <label class="custom-file-label" for="thumbnail-file" id="article-thumbnail-file-name">파일선택</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row mb-3">
                        <img src="#" alt="" id="thumbnail-preview" class="col-xl-3">
                    </div>
                    <div id="thumbnail-controller">
                        <button type="button" onclick="deleteThumbnail()">썸네일 삭제</button>
                    </div>
                </div>
            </div>
            <div id="article-body">
            </div>
            <div id="article-controller" class="d-flex justify-content-end mt-3">
                <a href="#" onclick="saveArticle()" class="btn btn-primary mr-3">등록</a>
                <a href="#" onclick="goBack()" class="btn btn-danger">취소</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/common-layout :: body-footer"></div>
<footer th:replace="fragments/common-layout :: normal-footer"></footer>
<script>
    $('#article-body').summernote({
        focus: true,
        height: 500,
        callbacks: {
            onImageUpload: function (files) {
                // 사용자가 업로드할 이미지
                let data = new FormData()
                data.append("file", files[0]);

                // 이미지를 서버에 업로드
                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/files/upload',
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false
                }).done(function (data, textStatus, jqXHR) {
                    console.log("Upload Complete")
                    console.log("Stored in " + data.path);
                    $('#article-body').summernote('insertImage', data.path, 'image');
                });
            }
        }
    });
</script>
</body>
</html>