@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

body, table, div, p {font-family: 'Noto Sans KR', sans-serif;}

/* 회원가입 */
.agreement-area {
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
}