<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-layout :: head">
    <meta charset="UTF-8">
    <title id="page-title">로그인</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/common-layout :: normal-header"></header>
    <div>
        <div id="content">
            <form action="/login" method="post" id="login-form">
                <div class="text-center m-5">
                    <h1>로그인</h1>
                </div>
                <div class="container col-xl-4">
                    <div class="mb-2">
                        <label for="login-email">이메일</label>
                        <input type="text" class="form-control" id="login-email" name="email"
                               value="admin@junglim.com">
                    </div>
                    <div class="mb-2">
                        <label for="login-password">비밀번호</label>
                        <input type="password" class="form-control" id="login-password"
                                                     name="password" value="11111111">
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button type="button" onclick="loginSubmit()" class="btn btn-primary mr-1">로그인</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/common-layout :: body-footer"></div>
<footer th:replace="fragments/common-layout :: normal-footer"></footer>
</body>
</html>