<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-layout :: head">
    <meta charset="UTF-8">
    <title id="page-title">회원가입</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/common-layout :: normal-header"></header>
    <div>
        <div id="content">
            <form action="/sign-up" method="post" id="sign-up-form">
                <div class="text-center m-5">
                    <h1>회원가입</h1>
                </div>
                <div class="mb-5">
                    <div class="border agreement-area">
                        <h3>사이트 이용 약관</h3>
                        What is Lorem Ipsum?
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.

                        Why do we use it?
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).

                        Where does it come from?
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                        classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
                        and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
                        section 1.10.32.

                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
                        in their exact original form, accompanied by English versions from the 1914 translation by H.
                        Rackham.
                    </div>
                    <div class="text-right">
                        <label for="site-usage-agreement">
                            <input type="checkbox" id="site-usage-agreement" name="siteUsageAgreement" value="true">
                            이용약관에 동의합니다.
                        </label>
                    </div>
                </div>
                <div class="mb-5">
                    <div class="border agreement-area">
                        <h3>개인정보동의</h3>
                        What is Lorem Ipsum?
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.

                        Why do we use it?
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).

                        Where does it come from?
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                        classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
                        and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
                        section 1.10.32.

                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
                        in their exact original form, accompanied by English versions from the 1914 translation by H.
                        Rackham.
                    </div>
                    <div class="text-right">
                        <label for="personal-info-agreement">
                            <input type="checkbox" id="personal-info-agreement" name="personalInfoAgreement"
                                   value="true"> 개인정보수집방침에 동의합니다.
                        </label>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group row">
                        <label for="sign-up-email" class="col-xl-2 col-form-label">이메일</label>
                        <div class="col-xl-5">
                            <div class="row row-cols-2">
                                <div class="col-xl-8">
                                    <input type="text" class="form-control" id="sign-up-email" name="email"
                                           value="">
                                </div>
                                <div class="col-xl">
                                    <input type="hidden" id="sign-up-email-duplication" value="true">
                                    <button type="button" onclick="checkEmailDuplication()" class="btn btn-primary">
                                        중복확인
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sign-up-email-confirmation" class="col-xl-2 col-form-label">이메일 확인</label>
                        <div class="col-xl-5">
                            <div class="row row-cols-2">
                                <div class="col-xl-8">
                                    <input type="text" class="form-control" id="sign-up-email-confirmation"
                                           name="emailConfirmation" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sign-up-password" class="col-xl-2 col-form-label">비밀번호</label>
                        <div class="col-xl-5"><input type="password" class="form-control" id="sign-up-password"
                                                     name="password" value=""></div>
                    </div>
                    <div class="form-group row">
                        <label for="sign-up-password-confirmation" class="col-xl-2 col-form-label">비밀번호 확인</label>
                        <div class="col-xl-5"><input type="password" class="form-control"
                                                     id="sign-up-password-confirmation" name="passwordConfirmation"
                                                     value=""></div>
                    </div>
                    <div class="form-group row">
                        <label for="sign-up-name" class="col-xl-2 col-form-label">이름</label>
                        <div class="col-xl-5"><input type="text" class="form-control" id="sign-up-name" name="name"
                                                     value=""></div>
                    </div>
                    <div class="form-group row">
                        <label for="sign-up-phone" class="col-xl-2 col-form-label">연락처</label>
                        <div class="col-xl-5"><input type="text" class="form-control" id="sign-up-phone"
                                                     value=""></div>
                    </div>
                    <div class="form-group row">
                        <label for="sign-up-address-zipcode" class="col-xl-2 col-form-label">주소</label>
                        <div class="col-xl-5">
                            <div class="row row-cols-2 mb-1">
                                <div class="col-xl-8">
                                    <input type="text" class="form-control" id="sign-up-address-zipcode" name="zipcode"
                                           readonly value="">
                                </div>
                                <div class="col-xl">
                                    <button type="button" class="btn btn-primary" onclick="getAddress()">우편번호 검색</button>
                                </div>
                            </div>
                            <input type="text" class="form-control mb-1" id="sign-up-address" name="address" readonly
                                   value="">
                            <input type="text" class="form-control" id="sign-up-detailed-address"
                                   name="detailedAddress">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="signUpSubmit()" class="btn btn-primary mr-1">확인</button>
                        <button type="button" class="btn btn-warning">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function getAddress() {
        new daum.Postcode({
            oncomplete: function (data) {
                console.log(data);
                document.getElementById("sign-up-address-zipcode").value = data.zonecode;
                document.getElementById("sign-up-address").value = data.roadAddress
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                // 예제를 참고하여 다양한 활용법을 확인해 보세요.
            }
        }).open();
    }
</script>
<div th:replace="fragments/common-layout :: body-footer"></div>
<footer th:replace="fragments/common-layout :: normal-footer"></footer>
</body>
</html>