<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-layout :: head">
    <meta charset="UTF-8">
    <title id="page-title">관리자 - 주문관리</title>
</head>
<body>
<header th:replace="fragments/common-layout :: admin-header"></header>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/common-layout :: admin-sidebar"></nav>
        <div id="content" class="col pt-5 pl-5">
            <div id="content-header">
                <h1>주문관리</h1>
            </div>
            <div id="content-body">
                <div name="order-list">
                    <div class="order-list-header">
                        <div class="row">
                            <div name="header" class="text-center col">주문일시</div>
                            <div name="header" class="text-center col-2">주문번호</div>
                            <div name="header" class="text-center col-1">이름</div>
                            <div name="header" class="text-center col-2">상품분류</div>
                            <div name="header" class="text-center col">비용</div>
                            <div name="header" class="text-center col">배송여부</div>
                            <div name="header" class="text-center col">주문/결제상태</div>
                        </div>
                    </div>
                    <div class="order-list-body">
                        <a th:href="@{/admin/orders/{id} (id=*{orderDto.getOrderId()})}" th:each="orderDto : ${ordersDto.getOrderDtos()}">
                            <div class="row">
                                <div class="text-center col" th:text="*{orderDto.getOrderCreatedDate()}"></div>
                                <div class="text-center col-2" th:text="*{orderDto.getOrderId()}"></div>
                                <div class="text-center col-1" th:text="*{orderDto.getOrdererName()}"></div>
                                <div class="text-center col-2" th:text="*{orderDto.getItemName()}"></div>
                                <div class="text-center col" th:text="*{orderDto.getTotalPrice()}"></div>
                                <div class="text-center col" th:text="*{orderDto.getDeliveryType()}"></div>
                                <div class="text-center col" th:text="*{orderDto.getStatus()}"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <nav class="mt-5 mb-5">
                    <ul class="pagination justify-content-center" th:object="${pagination}">
                        <li th:if="*{getPage() == 0}" class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">
                                <span>&laquo;</span>
                            </a>
                        </li>
                        <li th:unless="*{getPage() == 0}" class="page-item">
                            <a class="page-link" href="#" th:href="@{/templates/admin/orders(page=*{getPreviousPage()})}">
                                <span>&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:each="number : *{getNumbers()}"
                            th:with="currentPage=*{getPage()}+1"
                            th:classappend="${number == currentPage ? 'active' : ''}">
                            <a class="page-link" href="#" th:text="${number}"
                               th:href="@{/admin/orders(page=${number}-1)}">number</a>
                        </li>
                        <li th:if="*{getPageForUser() == getTotalPages()}" class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"><span>&raquo;</span></a>
                        </li>
                        <li th:unless="*{getPageForUser() == getTotalPages()}" class="page-item">
                            <a class="page-link" href="#" th:href="@{/templates/admin/orders(page=*{getNextPage()})}">
                                <span>&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/common-layout :: body-footer"></div>
</body>
</html>